body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-size: 14px;
}
.page-header {
  left: 0px;
  top: 0px;
  background: #ffffff;
}
.nav-list {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}
.unstyled {
  list-style: none;
}
.logo::after {
  content: "Studio";
  color: black;
}
.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #2196f3;
  text-decoration: none;
}
.link {
  text-decoration: none;
  color: #212121;
}
.link:hover,
.link:focus {
  color: #2196f3;
}

.first-section {
  background: #2f303a;
}
.title-motto {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.botton-request {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.second-section {
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: #e5e5e5;
}

.title-list {
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: #212121;
}
.sub-list {
  line-height: 24px;
  color: #757575;
}
.third-section {
  background: #e5e5e5;
  text-align: center;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
}
.fourth-section {
  background: #f5f4fa;
  line-height: 19px;
  text-align: center;
}
.nameteam {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #212121;
}
.specialty {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #757575;
}
.page-footer {
  background: #2f303a;
}
.list-botton {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.mark-botton:hover,
.mark-botton:focus {
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.pozi-adress {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}
.contact-adress {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.pozi-adress:hover,
.pozi-adress:focus,
.contact-adress:hover,
.contact-adress:focus {
  color: #2196f3;
}
.link-porto:hover,
.link-porto:focus {
  color: #ffffff;
}
